body {
  background-image: url("../../assets/StartBackground.jpeg");
  background-size: cover;
}

.Wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MonsterBall {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.MonsterBall:hover {
  border: 5px solid white;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5);
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
