.ScrollTopButton {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 8px;
  background: white;

  &:active {
    background-color: gray;
  }
}
