// type navigation

.NavigationContainer {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

// type label
.NavigationTypeButton {
  cursor: pointer;
  width: fit-content;
  height: 25px;
  padding-left: 26px;
  padding-right: 26px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;

  > img {
    margin-right: 0.25rem;
  }

  > span {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
