@import "../../styles/mixin";

.Wrapper {
  z-index: 99;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e66a62;
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
}

@include mobile {
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 490px;
  }
}

@include tablet {
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 800px;
  }
}

@include desktop {
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1400px;
  }
}

.LogoContainer {
  cursor: pointer;
  display: flex;
  align-items: center;

  > img {
    margin-right: 5px;
  }

  > h1 {
    font-family: "galmuri9";
    color: #f0f0e6;
  }
}

.ChangeLanguageContainer {
  display: flex;
  align-items: center;

  > img {
    margin-right: 5px;
  }

  > p {
    font-family: "galmuri9";
    color: #f0f0e6;
    margin: 0 5px 0 5px;
  }
}

.Language {
  cursor: pointer;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
