@import "../../styles/mixin";

.TypeName {
  margin: 0;
}

@include mobile {
  .TypeHeader {
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.75rem;
    width: 250px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
  }
}

@include tablet {
  .TypeHeader {
    width: 580px;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 1.75rem;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
  }
}

@include desktop {
  .TypeHeader {
    width: 1250px;
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding: 1.75rem;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }
}

@include mobile {
  .ListWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 3rem;
  }
}

@include tablet {
  .ListWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 3rem;
  }
}

@include desktop {
  .ListWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 3rem;
  }
}
