@import "../../../styles/mixin";

// main list
@include mobile {
  .ListWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 3rem;
  }
}

@include tablet {
  .ListWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 3rem;
  }
}

@include desktop {
  .ListWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 3rem;
  }
}

// item
@include mobile {
  .ItemContainer {
    border: 1px solid #e8e8e8;
    width: 250px;
    cursor: pointer;
    padding: 14px;
    height: 250px;
    border-radius: 1rem;
    background: white;
  }
}

@include tablet {
  .ItemContainer {
    border: 1px solid #e8e8e8;
    width: 250px;
    cursor: pointer;
    padding: 14px;
    height: 250px;
    border-radius: 1rem;
    background: white;
  }
}

@include desktop {
  .ItemContainer {
    border: 1px solid #e8e8e8;
    cursor: pointer;
    width: 280px;
    padding: 14px;
    height: 250px;
    border-radius: 1rem;
    background: white;

    &:hover {
      transition: 0.5s;
      box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
    }
  }
}

.ItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.PokemonInfo {
  display: flex;

  > img {
    margin-right: 5px;
  }

  > h1 {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }
}

.PokemonNumber {
  margin: 0;
  color: #999999;
}

.PokemonTypeLabel {
  display: flex;
  align-items: center;
}

.PokemonItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    padding: 1.25rem;
    max-width: 100%;
    height: auto;
  }

  > div {
    padding-top: 1.25rem;
  }
}
