@import "../../styles/mixin";

.SearchContainer {
  position: relative;
  margin-top: 100px;
}

@include mobile {
  .Search {
    width: 300px;
    height: 40px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
    font-family: "galmuri9";
    font-size: 14px;
    font-weight: bold;

    &::placeholder {
      color: gray;
      font-size: 12px;
    }
  }
}

@include tablet {
  .Search {
    width: 500px;
    height: 40px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
    font-family: "galmuri9";
    font-size: 14px;
    font-weight: bold;

    &::placeholder {
      color: gray;
    }
  }
}

@include desktop {
  .Search {
    width: 800px;
    height: 40px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.25);
    font-family: "galmuri9";
    font-size: 14px;
    font-weight: bold;

    &::placeholder {
      color: gray;
    }
  }
}

.PokeDexImg {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}
